
* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.login-wrapper {
  display: flex;
  height: 100vh;
  background: #f4f6fb;
}


.login-card {
  width: 35%;
  background: #ffffff;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-card h2 {
  font-size: 28px;
  margin-bottom: 8px;
}

.login-subtitle {
  color: #6b7280;
  margin-bottom: 30px;
}

.login-card label {
  font-size: 14px;
  margin-bottom: 6px;
}

.login-input {
  padding: 12px 14px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  margin-bottom: 20px;
  font-size: 14px;
}

.login-input:focus {
  outline: none;
  border-color: #6366f1;
}

.forgot {
  text-align: right;
  font-size: 13px;
  color: #4f46e5;
  text-decoration: none;
  margin-bottom: 25px;
}

.login-btn {
  padding: 14px;
  background: #4f46e5;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.login-btn:hover {
  background: #4338ca;
}


.login-image {
  display: flex;
  align-items: center ;
  justify-content: center;
  width: 65%;
  background-image: url("/library.jpg");
  background-size: cover;
  background-position: center;
}


@media (max-width: 900px) {
  .login-wrapper {
    flex-direction: column;
  }

  .login-card {
    width: 100%;
    padding: 40px;
  }

  .login-image {
    display: none;
  }
}